<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="styles/{{ style }}">
    <link rel="stylesheet" href="styles/HF.css">
</head>
<body>
    {% include 'header.html.twig' %}
    {% include url %}
    {% include 'footer.html.twig' %}
</body>
</html>