<footer>
    <div class="footer-wrapper">
        <img alt=""  src="images/icon.png" style="width: 60px; height: 60px;">
        <div class="line"></div>
        <a  href="https://github.com/Blooife"><img alt = "" class="footerimg" src="images/github.ico"></a>
        <a  href="https://twitter.com"><img alt = "" class="footerimg" src="images/twitter.ico"></a>
    </div>
</footer>