<footer>
    <div class="footer-wrapper">
        <img alt="" src="images/icon.png" style="width: 60px; height: 60px;">
        <div class="line"></div>
        <a  href="https://github.com/Blooife"><img alt="" class="footerimg" src="images/git.png"></a>
    </div>
</footer>