<header>
    <div class="header_wrapper">
        <img alt="" src="images/icon.png" style="width: 60px; height: 60px;">
        <h6>Yoga is for everyone</h6>
        <div class="line"></div>
        <a href="index.php">Home</a>
        <a href="history.php">History</a>
        <a href="to-begin.php">To begin</a>
    </div>
</header>