<section class="page">
    <div class="firstpage-wrapper">
        <div class="container">
            <h1 class="">What is yoga?</h1>
            <div class=""></div>
            <div class=""></div>
            <h6 class=""> More than a physical workout, yoga is a full mind and body exercise</h6>
        </div>
    </div>

    <div class="secondpage-wrapper">
        <div class=""></div>
        <h3> History</h3>
        <p> The first mention of the word “yoga” appears in&nbsp;Rig Veda, a collection of
            ancient texts. Yoga comes from the Sanskrit word “yuj,” which means “union” or “to join.”Yoga can be traced back to northern India over 5,000 years ago.Indian monks spread their knowledge of yoga in the West during the late 1890s. Modern yoga teachings became widely popular in Western countries by the 1970s.
        </p>
    </div>

    <div class="thirdpage-wrapper">
        <div class=""></div>
        <h3 class=""> Philosophy<br></h3>
        <p class=""> The overall philosophy of yoga is about connecting the mind, body, and spirit.<br>
            <br>There are six branches of yoga. Each branch represents a different focus and set of characteristics.<br>
            <br>The six branches are:
        </p>
        <ul class="">
            {% for el in elements %}
            <li>
                <b>{{ el.name }}:</b> {{ el.description }}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
